::-webkit-scrollbar {
  border-radius: 10px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(182, 83, 105, 1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(182, 83, 105, .8);
}

@media screen and (max-width: 520px) {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:window-inactive {
    width: 0;
    height: 0;
    display: none;
    background-color: transparent;
    border-radius: 0;
  }
}
