::-webkit-scrollbar {
  border-radius: 10px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(182, 83, 105, 1);
}