<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>

   <style>
      .navbar {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      .navbar>div,
      .navbar>header {
         display: flex;
         cursor: default;
      }

      .navbar>header>h3.logo {
         margin: 0 !important;
      }

      ul,
      ul li,
      ul li a {
         display: inline-block;
         text-decoration: none !important;
      }
   </style>

</head>

<body>
   <nav class="navbar">

      <header>
         <h3 class="logo">My Canvas graph</h3>
      </header>

      <div>
         <ul>
            <li><a href="index.html">Bar</a></li>
            <li><a href="pie.html">Pie</a></li>
         </ul>
      </div>

   </nav>
</body>

</html>