<style>
   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .navbar>div,
   .navbar>header {
      display: flex;
      cursor: default;
   }

   .navbar>header>h3.logo {
      margin: 0 !important;
   }

   ul, 
   ul li,
   ul li a {
      display: inline-block;
      text-decoration: none !important;
   }
</style>

<nav class="navbar">

   <header>
      <h3 class="logo">My Canvas graph</h3>
   </header>

   <div>
      <ul>
         <li><a href="index.html">Bar</a></li>
         <li><a href="pie.html">Pie</a></li>
      </ul>
   </div>

</nav>