::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  width: 0;
  height: 0;
  display: none;
  background-color: transparent;
  border-radius: 0;
}