* {
  font-family: "Roboto";
  box-sizing: border-box;
}

div.mobile-overflow {
  overflow: hidden;
  position: relative;
}

p {
  text-indent: 2.6rem;
  margin-bottom: 1rem;
}

.content-section {
  /*opacity: 0;*/
  transition: 1s ease-in-out;
}

.content-section.show {
  opacity: 1;
  transition: 1s ease-in-out;
}

.presentation-section {
  height: 100vh;
  background-image: url('../assets//images/fuji-2.webp');
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.presentation-section::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 140px -60px #000 inset;
}

.presentation-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6rem 4rem;
  position: relative;
  box-shadow: 0 0 2px #000;
  border-radius: 10px;
}

.presentation-content header h1, .presentation-content section p {
  color: #FFF;
  text-align: center;
  position: relative;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

.presentation-content header h1 {
  font-size: 3rem;
  z-index: 1;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.see-more-arrow {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
  transform: translateX(-50%);
  opacity: 0;
  border: solid #FFF;
  border-width: 0 .4rem .4rem 0;
  padding: 1rem;
  z-index: 10;
  border-radius: 0 5px 5px 5px;
  animation: arrow-down-moving 1s ease-in-out infinite;
  cursor: pointer;
}

.curiosities-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.curiosity-content {
  display: flex;
}

.curiosity-item {
  display: flex;
  padding: 1rem 1rem 1rem 0;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
  text-align: justify;
  margin-top: 2rem;
}

.content-reverse {
  flex-direction: row-reverse;
  padding: 1rem 0 1rem 1rem;
}

.curiosity-img-container {
  position: relative;
}

.curiosity-img {
  max-width: 30rem;
  max-height: 20rem;
  border-radius: 10px;
}

.curiosity-img-overlay {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 60%);
  z-index: 10;
}

.curiosity-img-overlay-reverse {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1) 95%);
}

@keyframes arrow-down-moving {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(2rem) rotate(45deg);
    opacity: 0;
  }
}

@media screen and (max-width: 896px) {
  .curiosity-img {
    max-width: 20rem;
    max-height: 15rem;
  }
  .presentation-content {
    border-radius: 0;
  }
}

@media screen and (max-width: 778px) {
  .curiosities-section {
    padding: 1.5rem;
  }
  .curiosity-item {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }
  .curiosity-img-container {
    width: 100%;
  }
  .curiosity-img {
    width: 100%;
    max-width: none;
    max-height: none;
  }
  .curiosity-img-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1));
  }
}

@media screen and (max-width: 592px) {
  .curiosity-item {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }
  .curiosities-section {
    padding: 1rem;
  }
  p {
    text-indent: 2.6rem;
    margin-bottom: 1rem;
  }
}
