* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

div.mobile-overflow {
  overflow: hidden;
  position: relative;
}

p {
  text-indent: 2.6rem;
  margin-bottom: 1rem;
}

.content-section {
  /*opacity: 0;*/
  transition: 1s ease-in-out;
}

.content-section.show {
  opacity: 1;
  transition: 1s ease-in-out;
}

.presentation-section {
  height: 100vh;
  background-image: url('../assets//images/fuji-2.webp');
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.presentation-section::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 140px -60px #000 inset;
}

.presentation-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem 4rem;
  position: relative;
  box-shadow: 0 0 2px #000;
  border-radius: 10px;
}

.presentation-content header h1, .presentation-content section p {
  color: #FFF;
  text-align: center;
  position: relative;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

.presentation-content header h1 {
  font-size: 3rem;
  z-index: 1;
  margin-bottom: 3rem;
  font-variant-caps: all-petite-caps;
}

.see-more-arrow {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
  transform: translateX(-50%);
  opacity: 0;
  border: solid #FFF;
  border-width: 0 .4rem .4rem 0;
  padding: 1rem;
  z-index: 10;
  border-radius: 0 5px 5px 5px;
  animation: arrow-down-moving 1s ease-in-out infinite;
  cursor: pointer;
}

.curiosities-title {
  padding: 0 2rem;
  margin: 4rem 0 0 0;
}

.curiosities-title h1 {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: #b73734;
}

.curiosities-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(40deg, #b73734 0%, #b73734 10%, #FFF 10%, #FFF 90%, #b73734 90%, #b73734 100%);
}

.curiosity-content {
  display: flex;
  padding: 4rem 2rem;
}

.curiosity-item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
  text-align: justify;
}

.content-reverse {
  flex-direction: row-reverse;
}

.curiosity-img-container, .curiosity-text-contentainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.curiosity-text-contentainer {
  flex-grow: 1;
  height: 100%;
  padding: 2rem;
}

.curiosity-img {
  max-width: 30rem;
  max-height: 20rem;
  border-radius: 10px;
}

.curiosity-img-overlay {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 60%);
  z-index: 10;
  border-radius: 10px;
}

.content-reverse .curiosity-img {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 60%);
}

.curiosity-item .curiosity-img {
  box-shadow: 4px 4px 8px -6px #000;
}

.content-reverse .curiosity-img {
  box-shadow: -4px 4px 8px -6px #000;
}

@keyframes arrow-down-moving {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(2rem) rotate(45deg);
    opacity: 0;
  }
}

@media screen and (min-width: 1280px) {
  .curiosity-img {
    max-width: 45rem;
    max-height: 35rem;
  }
}

@media screen and (max-width: 896px) {
  .curiosity-img {
    max-width: 20rem;
    max-height: 15rem;
  }
  .presentation-content {
    border-radius: 0;
  }
}

@media screen and (max-width: 778px) {
  .content-section {
    padding: 0;
  }
  .curiosities-title h1 {
    font-size: 2rem;
  }
  .curiosity-item {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .curiosity-img-container {
    width: 100%;
    transition: 1s ease-in-out;
  }
  .curiosity-img {
    width: 100%;
    max-width: none;
    max-height: none;
    box-shadow: 0 4px 8px -6px #000 !important;
  }
  .curiosity-text-contentainer {
    padding: 2rem 1rem 1rem 1rem;
  }
  .curiosity-img-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1));
  }
  .presentation-content {
    padding: 3rem 2rem;
  }
  .curiosity-content {
    padding: 0;
    background: none !important;
  }
  .presentation-content header h1 {
    font-size: 2.4rem;
  }
  .presentation-content section p {
    font-size: 80%;
  }
}

@media screen and (max-width: 592px) {
  .curiosity-item {
    flex-direction: column-reverse;
  }
  p {
    text-indent: 2.6rem;
    margin-bottom: 1rem;
  }
}