/*
 * General
 */

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

div.mobile-overflow {
  overflow: hidden;
  position: relative;
}

p {
  text-indent: 2.6rem;
  margin-bottom: 1rem;
}

h1 {
  text-transform: uppercase;
}

.content-section {
  opacity: 0;
  transition: 1s ease-in-out;
}

.content-section.show {
  opacity: 1 !important;
  transition: .5s ease-in-out;
}

/*
 * Presentation section
 */

.presentation-section {
  height: 100vh;
  background-image: url('../assets//images/fuji-2.webp');
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.presentation-section::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 140px -60px #000 inset;
}

.presentation-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem 4rem;
  position: relative;
  box-shadow: 0 0 2px #000;
  border-radius: 10px;
}

.presentation-content header h1, .presentation-content section p {
  color: #FFF;
  text-align: center;
  position: relative;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

.presentation-content header h1 {
  font-size: 3.2rem;
  z-index: 1;
  margin-bottom: 3rem;
  font-variant-caps: all-petite-caps;
}

.presentation-content p {
  font-size: 1.1rem;
}

.see-more-arrow {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
  transform: translateX(-50%);
  opacity: 0;
  border: solid #FFF;
  border-width: 0 .4rem .4rem 0;
  padding: 1rem;
  z-index: 10;
  border-radius: 0 5px 5px 5px;
  animation: arrow-down-moving 1s ease-in-out infinite;
  cursor: pointer;
}

/*
 * Curiosity section
 */

.curiosities-section {
  display: flex;
  flex-direction: column;
  /*background: linear-gradient(45deg,#FFF 0%, #FFF 95%, #b73734 95%, #b73734 100%);*/
}

.curiosity-content {
  display: flex;
  padding: 4rem 16vw;
}

.curiosity-item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
  text-align: justify;
}

.content-reverse {
  flex-direction: row-reverse;
}

.curiosity-img-container, .curiosity-text-contentainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.curiosity-text-contentainer {
  flex-grow: 1;
  height: 100%;
  padding: 2rem;
}

.curiosity-text-contentainer p {
  line-height: 1.6rem;
}

.curiosity-img {
  max-width: 30rem;
  max-height: 20rem;
  border-radius: 10px;
}

.curiosity-item .curiosity-img {
  box-shadow: 4px 4px 8px -6px #000;
}

.content-reverse .curiosity-img {
  box-shadow: -4px 4px 8px -6px #000;
}

/*
 * Things to do section
 */

.todo-things-section {
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
}

.todo-things {
  padding: 3rem 16vw;
  display: flex;
  color: #000;
  flex-wrap: wrap;
}

.todo-things-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 0 0;
  padding: 1rem;
  width: 33%;
}

.todo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EFEFEF;
  text-align: center;
  background-color: #4b91af;
  border-radius: 10px;
  box-shadow: 4px 4px 8px -6px #000;
}

.curiosity-img-overlay {
  transition: .3s ease-in-out;
}

.curiosity-img-container:hover .curiosity-img-overlay, .todo-item:hover .curiosity-img-overlay {
  transition: .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
}

.curiosity-img-overlay {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 10px;
}

.todo-item-img-container, .todo-item, .todo-item-img-container img {
  border-radius: 10px;
  position: relative;
}

.todo-item-img-container img {
  width: 100%;
  height: 22rem;
  border-radius: 10px 10px 0 0;
  display: flex;
}

.section-title {
  text-align: center;
  padding: 6rem 0 6rem 0;
  background-color: #025f88;
}

.section-title h1 {
  font-size: 2.4rem;
  text-decoration: underline;
  color: #FFF;
  text-decoration-color: #DDD;
  padding: 0 1rem;
}

.todo-item-text {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #307B9B;
  color: #EFEFEF;
}

.footer-section footer::after {
  animation: in-progress 3s ease-in-out infinite;
  content: 'In progress';
}

/*
 * Animations 
 */

@keyframes in-progress {
  25% {
    content: 'In progress.';
  }

  50% {
    content: 'In progress..';
  }

  75% {
    content: 'In progress...';
  }
}

@keyframes arrow-down-moving {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(2rem) rotate(45deg);
    opacity: 0;
  }
}

/*
 * Media screens
 */

@media screen and (min-width: 1480px) {
  .curiosity-img {
    max-width: 40rem;
    max-height: 35rem;
  }
  .curiosity-text-contentainer p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1480px) {
  .todo-things-item {
    width: 50%;
  }
  .todo-things {
    padding: 3rem 10vw;
  }
  .curiosity-img {
    max-width: 32rem;
    max-height: 27rem;
  }
  .curiosity-content {
    padding: 2rem 10vw;
  }
}

@media screen and (max-width: 1280px) {
  .curiosity-img {
    max-width: 29rem;
    max-height: 24rem;
  }
  .curiosity-content {
    padding: 1rem 8vw;
  }
  .todo-things {
    padding: 3rem 8vw;
  }
}

@media screen and (max-width: 896px) {
  .content-section {
    padding: 0;
  }
  .section-title h1 {
    font-size: 2rem;
  }
  .curiosity-item {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .curiosity-img-container {
    width: 100%;
    transition: 1s ease-in-out;
  }
  .curiosity-img {
    width: 100%;
    max-width: none;
    max-height: none;
    box-shadow: 0 4px 8px -6px #000 !important;
  }
  .curiosity-text-contentainer {
    padding: 2rem 1rem 1rem 1rem;
  }
  .presentation-content {
    padding: 3rem 2rem;
  }
  .curiosity-content {
    padding: 0;
    background: none !important;
  }
  .presentation-content header h1 {
    font-size: 2.4rem;
  }
  .presentation-content section p {
    font-size: .8rem;
  }
  .todo-things {
    padding: 0;
    flex-direction: column;
  }
  .todo-item {
    padding: 0;
  }
  .curiosities-section {
    padding-bottom: 2rem;
  }
  .todo-things-item {
    width: 100%;
  }
}

@media screen and (max-width: 592px) {
  .curiosity-item {
    flex-direction: column-reverse;
  }
  p {
    text-indent: 2.6rem;
    margin-bottom: 1rem;
  }
}
